alpaca_farm==0.1.9
cpm_kernels==1.0.11
datasets==2.13.0
einops==0.7.0
fuzzywuzzy==0.18.0
jieba==0.42.1
matplotlib==3.7.1
nltk==3.8.1
numpy
openai==0.28.0
pandas==2.0.2
rouge==1.0.1
scipy
seaborn==0.13.0
sentencepiece==0.1.99
spacy==3.7.2
tokenizers
torch==2.7.0
transformers==4.51.3
POT==0.9.5
pdbpp
datasets
nltk
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77